@mixin contents_text-title{
    width: 110px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
    padding-top: 60px;
}
@mixin contents_text-title-h1 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
}
@media(max-width:780px){
    header{
        width: 100%;
        height: 405px;
        position: fixed;
        .header_wrapper{
            .header_wrapper--show{
                background-color: white;
                z-index: 100;
                .header_logo{
                    text-align: center;
                    height: 60px;
                    img{
                        width: 87px;
                        margin-top: 12px;
                    }
                }
            }
            .header_navbtn--hide{
                position: fixed;top: 15px;right: 15px;
                i{
                    width: 18px;
                }
            }
            .header_hide{
                border-bottom: 1px solid #000;
                position: fixed;top: 60px;
                background-color: white;
                width: 100%;
                display: none;
                z-index: 100;
                .header_list{
                    ul{
                        li{
                            border-bottom: 1px solid #000;
                            height: 40px;
                            padding-bottom: 10px;
                            font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
                            a{
                                text-decoration: none;
                                color: #000;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .header_icon{
                    margin-top: 10px;
                    margin-left: 6px;
                    img{
                        width: 20px;
                        padding-right: 10px;
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
    main{
        .contents_mainphoto{
            padding-top: 60px;
            img{
                width: 100%;

            }
        }
    }
}

@media(min-width:780px){
    header{
        width: 20%;
        position: fixed;
        right: 0;
        height: 100%;
        .header_wrapper{
            padding: 30px 0 0 20%;
            .header_logo{
                padding-bottom: 20px;
                img{
                    width: 87px;
                }
            }
            .header_navbtn--hide{
                display: none;
            }
                .header_list{
                    margin-bottom: 50px;
                    ul{
                        li{ 
                            list-style: none;
                            padding-bottom: 15px;
                            font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
                            i{
                                display: none;
                            }
                            a{
                                text-decoration: none;
                                color: #000;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .header_icon{
                    img{
                        width: 20px;
                        padding-right: 10px;
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            
        }
        
    }
    main{
        .contents_mainphoto{
            img{
                width: 80%;
            }
        }
        .contents_text1{
            width: 80%;
            margin-top: 70px;
            .contents_text1-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text1-text{
                width: 60%;
                margin: 0 auto;
                padding-top: 60px;
                padding-bottom: 85px;
                p{
                    font-size: 14px;
                }
            }
        }
        .contents_img-wrapper{
            width: 80%;
            img{
                width: 33.3%;
                vertical-align: bottom;
            }
            .contents_bigsize-img{
                img{
                    width: 100%;
                }
            }
        }
        .contents_text2{
            width: 80%;
            margin-top: 70px;
            .contents_text2-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text2-text{
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid #a0a0a0;
                display: flex;
                flex-direction: row;
                justify-content:space-around;
                .rowlist{
                    width: 18%;
                    margin-top: 60px;
                    padding-bottom: 50px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .contents_text3{
            width: 80%;
            margin-top: 70px;
            .contents_text3-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text3-wrapper{
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid #a0a0a0;
                padding-top: 60px;
                .project{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 80px;
                    img{
                        width: 350px;
                        height: 220px;
                    }
                    p{
                        width: 52%;
                        margin-left: 15px;
                    }
                }
            }
        }
        .contents_text4{
            width: 80%;
            margin-top: 70px;
            margin-bottom: 300px;
            .contents_text4-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text4-wrapper{
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 75px;
                margin: 0 auto;
                .contents_text4-adress{
                    width: 33%;
                    li{
                        list-style: none;
                    }
                }
                .contents_text4-map{
                    width: 60%;
                    .ggmap{
                        position: relative;
                        width: 100%;
                        iframe{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    footer{
        p{
            margin: 0 auto;
            text-align: center;
            width: 413px;
            font-size: 11px;
            padding-bottom: 70px;
        }
    }
}

@media(min-width:620px)and(max-width:780px){
    main{
        .contents_text1{
            .contents_text1-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text1-text{
                width: 60%;
                margin: 0 auto;
                padding-top: 40px;
                padding-bottom: 85px;
            }
        }
        .contents_img-wrapper{
            img{
                width: 33.3%;
                vertical-align: bottom;
            }
            .contents_bigsize-img{
                img{
                    width: 100%;
                }
            }
        }
        .contents_text2{
            .contents_text2-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text2-text{
                padding-top: 40px;
                padding-bottom: 50px;
                border-bottom: 1px solid #a0a0a0;
                width: 60%;
                margin: 0 auto;
                .rowlist{
                    width: 100%;
                    margin-bottom: 50px;
                    img{
                        width: 165px;
                        margin: 0 auto;
                        margin-left: 29%;
                    }
                    p{
                        width: 400px;
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
        .contents_text3{
            .contents_text3-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text3-wrapper{
                padding-top: 40px;
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid #a0a0a0;
                padding-bottom: 100px;
                img{
                    width: 350px;
                    height: 220px;
                }
                .contents_text3-explain1{
                    padding-bottom: 80px;
                }
            }
        }
        .contents_text4{
            .contents_text4-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text4-wrapper{
                width: 80%;
                margin: 0 auto;
                padding-top: 65px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .contents_text4-adress{
                    width: 36%;
                    padding-bottom: 100px;
                    li{
                        list-style: none;
                    }
                }
                .contents_text4-map{
                    width: 60%;
                    .ggmap{
                        position: relative;
                        width: 100%;
                        iframe{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    footer{
        p{
            margin: 0 auto;
            text-align: center;
            width: 413px;
            font-size: 11px;
            padding-bottom: 70px;
        }
    }
}

@media(max-width:620px){
    main{
        .contents_text1{
            .contents_text1-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text1-text{
                margin: 0 auto;
                width: 90%;
                p{
                    margin-top: 40px;
                    margin-bottom: 35px;
                }
            }
        }
        .contents_img-wrapper{
            img{
                width: 100%;
                vertical-align: bottom;
            }
            .contents_bigsize-img{
                img{
                    width: 100%;
                }
            }
        }
        .contents_text2{
            .contents_text2-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text2-text{
                padding-top: 40px;
                padding-bottom: 50px;
                border-bottom: 1px solid #a0a0a0;
                width: 70%;
                margin: 0 auto;
                .rowlist{
                    width: 100%;
                    margin-bottom: 50px;
                    img{
                        width: 165px;
                        margin: 0 auto;
                        margin-left: 30%;
                    }
                    p{
                        width: 100%;
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
        .contents_text3{
            .contents_text3-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text3-wrapper{
                padding-top: 40px;
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid #a0a0a0;
                padding-bottom: 100px;
                img{
                    width: 370px;
                }
            }
        }
        .contents_text4{
            .contents_text4-title{
                @include contents_text-title;
                h1{
                    @include contents_text-title-h1;
                }
            }
            .contents_text4-wrapper{
                width: 80%;
                margin: 0 auto;
                padding-top: 65px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .contents_text4-adress{
                    width: 36%;
                    padding-bottom: 100px;
                    li{
                        list-style: none;
                    }
                }
                .contents_text4-map{
                    width: 60%;
                    .ggmap{
                        position: relative;
                        width: 100%;
                        height: 230px;
                        iframe{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    footer{
        p{
            margin: 0 auto;
            text-align: center;
            width: 413px;
            font-size: 11px;
            padding-bottom: 70px;
        }
    }
}